{{define "root"}}
<!doctype html>
<html>
  <head>
    <title>News</title>
    {{template "root-style"}}
  </head>
  <body>
    <div>
      Navbar
    </div>
    <div>
      {{template "root-body"}}
    </div>
    <div>
      Footer
    </div>
    {{template "root-script"}}
  </body>
</html>
{{end}}
